<h3>Members Detail Component!</h3>

Membro carregado: {{ selected_member.name }} {{ selected_member.surname }}

 <p>Selected id = {{ selected_id }}</p>

 <input type="text" [(ngModel)]="selected_member.id" readonly><br>
 <input type="text" [(ngModel)]="selected_member.name"><br>
 <input type="text" [(ngModel)]="selected_member.surname"><br>
 <input type="text" [(ngModel)]="selected_member.phone"><br>
 <input type="text" [(ngModel)]="selected_member.address"><br>
 <input type="text" [(ngModel)]="selected_member.photo"><br>

 <button (click)="update()">Update Member</button><br>
 <button (click)="delete()">Delete Member</button><br>
 <button (click)="newMember()">Novo</button>